<nav class="navbar navbar-expand-sm navbar-dark bg-dark fs-4">
  <div class="container-fluid">
    <img src="assets/img/logoipsum-logo-38.svg" alt="home">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="carrello" routerLinkActive="active">🛒{{totale}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
